{
  "env": {
    "development": {
      "presets": ["es2015"]
    },
    "lib": {
      "presets": ["es2015"],
    },
    "es6": {
      "plugins": [
        "transform-es2015-spread",
        "transform-es2015-parameters"
      ]
    }
  }
}
