{
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-es2015-spread",
        "transform-es2015-parameters",
        "transform-es2015-arrow-functions"
      ]
    },
    "lib": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-es2015-spread",
        "transform-es2015-parameters",
        "transform-es2015-arrow-functions"
      ]
    },
    "es6": {
      "plugins": [
        "transform-es2015-spread",
        "transform-es2015-parameters"
      ]
    }
  }
}
